<div class="row">
  <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
    <button (click)="getDateTime()" class="fullwidth button btn-primary center-block">Display Date and Year</button>
  </div>
  <div class="info center-block">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 date" id="date">
      <h3>The current date is</h3>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 year" id="year">
      <h3>The current year is</h3>
    </div>
  </div>
</div>
<!-- Fill the above HTML with necessary Angular 2 directives -->
